{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<main>
  <div style="height:10px;width:75%; background-color:#a1a7b3;top:70px;position:sticky;z-index:10;"></div>
  <div style="height:10px;width:100%; background-color:#e8e9eb;top:70px;position:sticky;z-index:5;"></div>

    <div class="container margin_120_95">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-xs-12 offset-md-2 offset-lg-2">
          <div class="white-box-form">
            <div class="main_title_2">
              <span><em></em></span>
              <h1>Félicitation {{ request.user.username }}</h1>
            </div>
            <div>
              <form name="" id="" method="POST" enctype="multipart/form-data">
                <!-- Leave for security protection, read docs for details -->
                <div id="middle-wizard">
                  <div class="step" style="font-size:15px;">
                    <p>Grâce à ces quelques renseignements nous serons capables de vous proposer des formations parfaitement adaptées à vos besoins.</p>
                    {% if cours|length != 0 %}
                        <p>Voici une première sélection que nous avons préparée pour vous :</p>
                        <div class ="row" style="display:flex;">
                        {% for c in cours %}
                            <div class ="col-xs-12 col-sm-6" style="display:flex;">
                              {% include 'cours/snippets/card-cours-grid.html' with instance=c %}
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    {{ wizard.management_form }}
                    {% crispy form %}
                    <button type="submit" name="wizard_goto_step" class="btn btn-info" value="{{ wizard.steps.prev }}" formnovalidate="formnovalidate"><i class="icon-left-open"></i> Précédent </button>
                    <button type="submit" name="process" class="submit btn btn-success">Confirmer <i class="icon-ok"></i></button>
                  </div>
                  <!-- /step-->

                </div>

                <!-- /bottom-wizard -->
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--/row-->
    </div>

</main>


{% endblock %}
