{% extends "formateurs/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}
{% endblock %}

{% block base_head %}
  <link href="{% static 'css/skins/square/grey.css' %}" rel="stylesheet">

  <script src="{% static 'js/tinymce/js/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}" ></script>
  <link href="{% static 'css/wizard.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
  <div id="form_container" class="clearfix">
    <figure>
      <a href="index.html"><img src="{% static 'img/logo.png' %}" width="149" height="42" data-retina="true" alt=""></a>
    </figure>
    <div id="wizard_container">
      <div id="top-wizard">
        <div id="progressbar"></div>
      </div>
      <!-- /top-wizard -->
      <form name="example-1" id="wrapped" method="POST">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ form }}
        <input id="website" name="website" type="text" value="">
        <!-- Leave for security protection, read docs for details -->
        <div id="middle-wizard">
          <div class="step">
            <div id="intro">
              <figure><img src="{% static 'img/wizard_intro_icon.svg' %}" alt=""></figure>
              <h1>Confirmation</h1>
              <p>Vérifie que les informations introduites sont exactes.</p>

              <img src="{{cours.image.url }}" alt="" style="width:100%;">
              <table class="table">
                <tr>
                  <td>Titre</td>
                  <td>{{ cours.titre }}</td>
                </tr>
                <tr>
                  <td>Description courte</td>
                  <td>{% autoescape off %}{{ cours.courte_description }}{% endautoescape %}</td>
                </tr>
                <tr>
                  <td>Description longue</td>
                  <td>{% autoescape off %}{{ cours.long_description }}{% endautoescape %}</td>
                </tr>
                <tr>
                  <td>Catégories</td>
                  <td>{% for sous_c in sous_categories %}#{{ sous_c }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
              </table>
              {% for lecon in lecons %}
                  <p>{{ lecon.titre }}</p>
              {% endfor %}
              <p>

              </p>
            </div>
          </div>

        </div>
        <!-- /middle-wizard -->
        <div id="bottom-wizard">
            <button type="submit" name="wizard_goto_step" class="backward" value="{{ wizard.steps.prev }}" formnovalidate="formnovalidate"><i class="icon-left-open"></i> Précédent </button>
            <button type="submit" name="wizard_goto_step" class="backward" value="{{ wizard.steps.first }}" formnovalidate="formnovalidate">Première page </button>
            <button type="submit" name="process" class="submit">Confirmer <i class="icon-ok"></i></button>
        </div>
        <!-- /bottom-wizard -->
      </form>
    </div>
    <!-- /Wizard container -->
  </div>
  <!-- /Form_container -->

  <!-- Modal terms -->
  <div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
          <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
          <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn_1" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}
