{% extends "base.html" %}
{% load static %}


{% block base_head %}
{% endblock %}

{% block content %}
  <main>
    <section id="hero_in" class="cart_section">
      <div class="wrapper">
        <div class="container">
          <div class="bs-wizard clearfix">
            <div class="bs-wizard-step">
              <div class="text-center bs-wizard-stepnum">Choisis ta formation</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="cart-1.html" class="bs-wizard-dot"></a>
            </div>

            <div class="bs-wizard-step">
              <div class="text-center bs-wizard-stepnum">Confirme ton inscription</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="cart-2.html" class="bs-wizard-dot"></a>
            </div>

            <div class="bs-wizard-step active">
              <div class="text-center bs-wizard-stepnum">Commence à apprendre!</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="#0" class="bs-wizard-dot"></a>
            </div>
          </div>
          <!-- End bs-wizard -->
          <div id="confirm">
            <h4>Félicitations, tu es officiellement inscrit ! </h4>
            <p>Tu vas recevoir un email automatique rapidement à l'adresse mail@example.com</p>
          </div>
        </div>
      </div>
    </section>
    <!--/hero_in-->
  </main>
  <!--/main-->

{% endblock %}


{% block javascript %}
{% endblock %}
