{% extends "base.html" %}
{% load static %}


{% block base_head %}
{% endblock %}

{% block content %}
  <main>
    <section id="hero_in" class="cart_section">
      <div class="wrapper">
        <div class="container">
          <div class="bs-wizard clearfix">
            <div class="bs-wizard-step">
              <div class="text-center bs-wizard-stepnum">Choisis ta formation</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="{% url 'show-panier' pk=cours.pk %}" class="bs-wizard-dot"></a>
            </div>

            <div class="bs-wizard-step active">
              <div class="text-center bs-wizard-stepnum">Confirme ton inscription</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="#0" class="bs-wizard-dot"></a>
            </div>

            <div class="bs-wizard-step disabled">
              <div class="text-center bs-wizard-stepnum">Commence à apprendre!</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="#0" class="bs-wizard-dot"></a>
            </div>
          </div>
          <!-- End bs-wizard -->
        </div>
      </div>
    </section>
    <!--/hero_in-->

    <div class="bg_color_1">
      <div class="container margin_60_35">
        <div class="row">
          <div class="col-lg-8">
            <div class="box_cart">
            {% if not user.is_authenticated %}
            <div class="message">
              <p>Tu à déjà un compte chez Udema?<a href="{% url 'account_login' %}?next={{request.path}}">Connecte-toi ici !</a></p>
            </div>
            <div class="form_title">
              <h3><strong>1</strong>Tes informations personnelles</h3>
              <p>
                Mussum ipsum cacilds, vidis litro abertis.
              </p>
            </div>
            <div class="step">
              <div class="row">
                <div class="col-sm-6">
                  <span class="input">
                    <input class="input_field" type="text">
                    <label class="input_label">
                      <span class="input__label-content">Prénom</span>
                    </label>
                  </span>
                </div>
                <div class="col-sm-6">
                  <span class="input">
                    <input class="input_field" type="text">
                    <label class="input_label">
                      <span class="input__label-content">Nom</span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span class="input">
                    <input class="input_field" type="email">
                    <label class="input_label">
                      <span class="input__label-content">Email</span>
                    </label>
                  </span>
                </div>
                <div class="col-sm-6">
                  <span class="input">
                    <input class="input_field" type="email">
                    <label class="input_label">
                      <span class="input__label-content">Confirme ton email</span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span class="input">
                    <input class="input_field" type="text">
                    <label class="input_label">
                      <span class="input__label-content">GSM</span>
                    </label>
                  </span>
                </div>
              </div>
            </div>
            <hr>
            {% endif %}
            <!--End step -->

            <!--End step -->
            {% if not has_card %}
                <!-- enter credit card here -->
                <div class="form_title">
                  <h3><strong>2</strong>Informations bancaires</h3>
                  <p>
                    Mussum ipsum cacilds, vidis litro abertis.
                  </p>
                </div>
                <div class='stripe-payment-form' data-token='{{ publish_key }}' data-next-url='{{ request.build_absolute_uri }}' data-btn-title='Ajouter un moyen de paiement'></div>

            {% else %}
                <h1>Finalise ton inscription</h1>
                <p>Cart Items: {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <p>Moyen de paiement: {{ billing_profile.default_card }} (<a href="{{ billing_profile.get_payment_method_url }}?next={{ request.build_absolute_uri }}">Changer</a>)</p>
                <p>Total: {{ cart_obj.total }} &euro;</p>

                <form class='form' method='POST' action="">{% csrf_token %}
                    <button type='submit' class='btn btn-success'>Confirmer</button>
                </form>
            {% endif %}
            <hr>
            <!--End step -->
            <div id="policy">
              <h5>Politique d'annulation</h5>
              <p class="nomargin">Lorem ipsum dolor sit amet, vix <a href="#0">cu justo blandit deleniti</a>, discere omittantur consectetuer per eu. Percipit repudiare similique ad sed, vix ad decore nullam ornatus.</p>
            </div>
            </div>
          </div>
          <!-- /col -->

          <aside class="col-lg-4" id="sidebar">
            <div class="box_detail">
            <div id="total_cart">
                Total <span class="float-right">{{ cart_obj.total }} &euro;</span>
            </div>

            <table class="table table-striped cart-list">
              <tbody>
                {% for option in cart_obj.options.all %}
                <tr>
                  <td>
                    <span class="">{{ option.lecon.titre }}</span>
                  </td>
                  <td>
                    <strong>
                        {{ option.lecon.option_set.first.tarif }} &euro;
                    </strong>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

              <div class="add_bottom_30">Lorem ipsum dolor sit amet, sed vide <strong>moderatius</strong> ad. Ex eius soleat sanctus pro, enim conceptam in quo, <a href="#0">brute convenire</a> appellantur an mei.</div>
              <form class='form' method='POST' action="">{% csrf_token %}
                  <button type='submit' class="btn_1 full-width">Confirmer</button>
              </form>
              <a href="courses-grid-sidebar.html" class="btn_1 full-width outline"><i class="icon-right"></i> Explorer les formations</a>
            </div>
          </aside>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
  </main>
  <!--/main-->
{% endblock %}


{% block javascript %}
{% endblock %}
