{% extends "formateurs/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}
{% endblock %}

{% block base_head %}
<script src="{% static 'js/tinymce/js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}" ></script>
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Créer un cours</li>
      </ol>
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2><i class="fa fa-user"></i>Profile details</h2>
      </div>


      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
          <label>Your photo</label>
            <form action="/file-upload" class="dropzone"></form>
            </div>
        </div>
        <div class="col-md-8 add_top_30">
          <form method="post" enctype="multipart/form-data">{% csrf_token %}
              {% crispy form %}
          </form>
        </div>
      </div>
    </div>
    <!-- /box_general-->
    <div class="row">
      <div class="col-md-6">
        <div class="box_general padding_bottom">
          <div class="header_box version_2">
            <h2><i class="fa fa-lock"></i>Change password</h2>
          </div>
          <div class="form-group">
            <label>Old password</label>
            <input class="form-control" type="password">
          </div>
          <div class="form-group">
            <label>New password</label>
            <input class="form-control" type="password">
          </div>
          <div class="form-group">
            <label>Confirm new password</label>
            <input class="form-control" type="password">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box_general padding_bottom">
          <div class="header_box version_2">
            <h2><i class="fa fa-envelope"></i>Change email</h2>
          </div>
          <div class="form-group">
            <label>Old email</label>
            <input class="form-control" name="old_email" id="old_email" type="email">
          </div>
          <div class="form-group">
            <label>New email</label>
            <input class="form-control" name="new_email" id="new_email" type="email">
          </div>
          <div class="form-group">
            <label>Confirm new email</label>
            <input class="form-control" name="confirm_new_email" id="confirm_new_email" type="email">
          </div>
        </div>
      </div>
    </div>
    <!-- /row-->
    <p><a href="#0" class="btn_1 medium">Confirmer</a></p>
    </div>
    <!-- /.container-fluid-->
    </div>
    <!-- /.container-wrapper-->
{% endblock %}

{% block javascript %}
{% endblock %}
