about.html
{% extends "base.html" %}
{% load static %}



{% block content %}
  <main>
    <section id="hero_in" class="general">
      <div class="wrapper">
        <div class="container">
          <h1 class="fadeInUp"><span></span>A propos de Kairos</h1>
        </div>
      </div>
    </section>
    <!--/hero_in-->

    <div class="container margin_120_95">
      <div class="main_title_2">
        <span><em></em></span>
        <h2>Qui sommes nous?</h2>
        <p>Nous visons à encourager le partage du savoir et des connaissances. Nous sommes une plateforme qui aide à la mise en commun de ceux qui veulent partager leur passion avec ceux qui veulent apprendre.</p>
        <p>En plus de cette mise en relation, nous vous aidons pour toute la mise en place pratique : salle de cours, réputation des professeurs, résumé de cours, système de payement en ligne.</p>
        <p>Enfin, nous vous conseillons dans votre parcours d’apprentissage et vous aidons à prioriser les sujets à approfondir. </p>
      </div>
      
    <div class="container margin_120_95">
      <div class="main_title_2">
        <span><em></em></span>
        <h2>Notre vision?</h2>
        <p>La connaissance est ce qui nous rend spécial : il n’y a qu’en apprenant continuellement que nous restons compétitifs, intéressant et intéressés. Dans un monde où l’information n’a jamais été aussi accessible, nous nous cantonnons à une simple formation dans un domaine spécifique et sur une courte durée. Cette formation doit être élargie à différent secteur et tout au long de notre existence. Il est impératif qu’un cuisinier puisse se créer un site internet, un médecin puisse gérer sa comptabilité ou encore qu’une personne âgée puisse apprendre les bases des technologies de l’information pour communiquer avec sa famille.</p>
        <p>Une partie de cette formation peut être acquise en ligne. Toutefois, dans les faits, très peu de gens ont recours à ce type de formation. Tout d’abord, car il est très difficile de savoir quelle formation suivre, dans quel ordre avec quel background. Ensuite car le fait d’avoir un professeur avec qui on peut interagir augmente grandement notre rigueur et notre motivation. Nous pensons donc qu’une formation présentielle est indispensable.</p>
        <p>Notre objectif est de répondre à cette problématique en impliquant chaque citoyen lui-même et en l’incitant à partager et enseigner sa passion. Enormément de gens ont, en eux, de précieux savoir, une vraie expertise qu’ils ne demandent qu’à partager. Le sentiment de fierté qui résulte d’enseigner sa passion à quelqu’un qui veut apprendre est, en soie, une énorme source de motivation. Cela a également l’avantage de garder les formations économiquement accessibles au plus grande nombre et, pour l’enseignant, de garantir un revenu additionnel.</p>
        <p>A terme nous voulons être la solution réflexe pour tous types d’apprentissages ; qu’ils soient de cultures générales, professionnels ou pour compléter/remplacer un cursus universitaire. Nous pensons que la passion des intervenants doit rendre les cours plus interactifs et plus divertissants que dans les schémas classiques. Le système de « rating » des professeurs, mettra en œuvre une concurrence saine, garantissant des prix bas et une qualité d’enseignement élevée.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <a class="box_feat" href="#">
            <i class="pe-7s-diamond"></i>
            <h3>Nos Professeurs</h3>
            <p>Découvrez le profilde ces professionnels qui ont décidés de partager leur passion.</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a class="box_feat" href="#">
            <i class="pe-7s-display2"></i>
            <h3>NOs salles de cours</h3>
            <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a class="box_feat" href="#">
            <i class="pe-7s-science"></i>
            <h3>Advanced teaching</h3>
            <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a class="box_feat" href="#">
            <i class="pe-7s-rocket"></i>
            <h3>Adavanced study plans</h3>
            <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a class="box_feat" href="#">
            <i class="pe-7s-target"></i>
            <h3>Focus on target</h3>
            <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a class="box_feat" href="#">
            <i class="pe-7s-graph1"></i>
            <h3>focus on success</h3>
            <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
          </a>
        </div>
      </div>
      <!--/row-->
    </div>
    <!-- /container -->

    <div class="bg_color_1">
      <div class="container margin_120_95">
        <div class="main_title_2">
          <span><em></em></span>
          <h2>Our Origins and Story</h2>
          <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
        <div class="row justify-content-between">
          <div class="col-lg-6 wow" data-wow-offset="150">
            <figure class="block-reveal">
              <div class="block-horizzontal"></div>
              <img src="http://via.placeholder.com/800x533/ccc/fff/course_1.jpg" class="img-fluid" alt="">
            </figure>
          </div>
          <div class="col-lg-5">
            <p>Lorem ipsum dolor sit amet, homero erroribus in cum. Cu eos <strong>scaevola probatus</strong>. Nam atqui intellegat ei, sed ex graece essent delectus. Autem consul eum ea. Duo cu fabulas nonumes contentiones, nihil voluptaria pro id. Has graeci deterruisset ad, est no primis detracto pertinax, at cum malis vitae facilisis.</p>
            <p>Dicam diceret ut ius, no epicuri dissentiet philosophia vix. Id usu zril tacimates neglegentur. Eam id legimus torquatos cotidieque, usu decore <strong>percipitur definitiones</strong> ex, nihil utinam recusabo mel no. Dolores reprehendunt no sit, quo cu viris theophrastus. Sit unum efficiendi cu.</p>
            <p><em>CEO Marc Schumaker</em></p>
          </div>
        </div>
        <!--/row-->
      </div>
      <!--/container-->
    </div>
    <!--/bg_color_1-->

    <div class="container margin_120_95">
      <div class="main_title_2">
        <span><em></em></span>
        <h2>Our founders</h2>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
      </div>
      <div id="carousel" class="owl-carousel owl-theme">
        <div class="item">
          <a href="#0">
            <div class="title">
              <h4>Julia Holmes<em>CEO</em></h4>
            </div><img src="http://via.placeholder.com/350x500/ccc/fff/1_carousel.jpg" alt="">
          </a>
        </div>
        <div class="item">
          <a href="#0">
            <div class="title">
              <h4>Lucas Smith<em>Marketing</em></h4>
            </div><img src="http://via.placeholder.com/350x500/ccc/fff/2_carousel.jpg" alt="">
          </a>
        </div>
        <div class="item">
          <a href="#0">
            <div class="title">
              <h4>Paul Stephens<em>Business strategist</em></h4>
            </div><img src="http://via.placeholder.com/350x500/ccc/fff/3_carousel.jpg" alt="">
          </a>
        </div>
        <div class="item">
          <a href="#0">
            <div class="title">
              <h4>Pablo Himenez<em>Customer Service</em></h4>
            </div><img src="http://via.placeholder.com/350x500/ccc/fff/4_carousel.jpg" alt="">
          </a>
        </div>
        <div class="item">
          <a href="#0">
            <div class="title">
              <h4>Andrew Stuttgart<em>Admissions</em></h4>
            </div><img src="http://via.placeholder.com/350x500/ccc/fff/5_carousel.jpg" alt="">
          </a>
        </div>
      </div>
      <!-- /carousel -->
    </div>
    <!--/container-->
  </main>
  <!--/main-->

{% endblock %}

