{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <main>
    <section id="hero_in" class="contacts">
      <div class="wrapper">
        <div class="container">
          <h1 class="fadeInUp"><span></span>Contact Udema</h1>
        </div>
      </div>
    </section>
    <!--/hero_in-->

    <div class="contact_info">
      <div class="container">
        <ul class="clearfix">
          <li>
            <i class="pe-7s-map-marker"></i>
            <h4>Adresse</h4>
            <span>Rue Armand Campenhout, 61<br>Bruxelles - Belgique</span>
          </li>
          <li>
            <i class="pe-7s-mail-open-file"></i>
            <h4>Adresse Email</h4>
            <span>admission@udema.com - info@udema.com<br><small>Lundi au Vendredi 9am - 7pm</small></span>

          </li>
          <li>
            <i class="pe-7s-phone"></i>
            <h4>Téléphone</h4>
            <span>+ 32 476 31 27 45 + 32 499 92 81 26<br><small>Lundi au Vendredi 9am - 7pm</small></span>
          </li>
        </ul>
      </div>
    </div>
    <!--/contact_info-->

    <div class="bg_color_1">
      <div class="container margin_120_95">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="map_contact">
            </div>
            <!-- /map -->
          </div>
          <div class="col-lg-6">
            <h4>Contactez-nous</h4>
            <p>Un membre de l'équipe vous répondra aussi vite que possible !</p>
            <div id="message-contact"></div>
            <form method="post" action="{% url 'contact' %}" id="form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <span class="input">
                    {% render_field form.nom class="input_field" type="text" id="name_contact" name="name_contact" %}
                    <label class="input_label">
                      <span class="input__label-content">Nom</span>
                    </label>
                  </span>
                </div>

                <div class="col-md-6">
                  <span class="input">
                    {% render_field form.prenom class="input_field" type="text" id="lastname_contact" name="lastname_contact" %}
                    <label class="input_label">
                      <span class="input__label-content">Prénom</span>
                    </label>
                  </span>
                </div>
              </div>
              <!-- /row -->
              <div class="row">
                <div class="col-md-6">
                  <span class="input">
                    {% render_field form.email class="input_field" type="email" id="email_contact" name="email_contact" %}
                    <label class="input_label">
                      <span class="input__label-content">Adresse Email</span>
                    </label>
                  </span>
                </div>
                <div class="col-md-6">
                  <span class="input">
                    {% render_field form.gsm class="input_field" type="text" id="phone_contact" name="phone_contact" %}
                    <label class="input_label">
                      <span class="input__label-content">GSM</span>
                    </label>
                  </span>
                </div>
              </div>
              <!-- /row -->
              <span class="input">
                  {% render_field form.message class="input_field" id="message_contact" name="message_contact" style="height:150px;" %}
                  <label class="input_label">
                    <span class="input__label-content">Ton Message</span>
                  </label>
              </span>
                  {% if form.check_human.errors %}
                    <div class="alert alert-danger" role="alert" >
                      {{ form.check_human.errors }}
                    </div>
                  {% endif %}
              <span class="input">
                  {% render_field form.check_human class="input_field" type="text" id="verify_contact" name="verify_contact" %}
                  <label class="input_label">
                  <span class="input__label-content">Es-tu humain? 3 + 1 =</span>
                  </label>
              </span>
              <p class="add_top_30"><input type="submit" value="Envoyer" class="btn_1 rounded" id="submit-contact"></p>
            </form>

          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
  </main>
{% endblock %}

{% block javascript %}
<script>
$(function () {
    {% if anchor %}
        console.log("ancre repérée")
        $(document).ready(function(){
            window.location = '#{{ anchor }}'
        });
        $(document.body).animate({

            'scrollTop':   $('#{{ anchor }}').offset().top
        }, 2000);
    {% endif %}
});
</script>
{% endblock %}
