{% extends "base.html" %}
{% load static %}

{% block content %}
  <main>
    <section class="hero_single version_2">
      <div class="wrapper">
        <div class="container">
          <h3>Learn from the best</h3>
          <form role="search" method="get"  action="{% url 'search' %}">
            <div id="custom-search-input">
              <div class="input-group">
                  <input type="text" class=" search-query" name="q" placeholder="Que veux-tu apprendre?...">
                  <input type="submit" class="btn_search" value="Chercher">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- /hero_single -->

    <div class="features clearfix">
      <div class="container">
        <ul>
          <li><i class="pe-7s-study"></i>
            <h4>Une multitude de cours</h4>
          </li>
          <li><i class="pe-7s-cup"></i>
            <h4>Des professeurs experts</h4>          
          </li>
          <li><i class="pe-7s-target"></i>
            <h4>Des salles hyper design</h4>
          </li>
        </ul>
      </div>
    </div>
    <!-- /features -->

    <div class="container-fluid margin_120_0">
      <div class="main_title_2">
        <span><em></em></span>
        <h2>Les participants consultent</h2>
        <p>Découvrez nos cours à succès</p>
      </div>
      <div id="reccomended" class="owl-carousel owl-theme">
        {% for cours in best_courses %}
          {% autoescape off %}{% include 'cours/snippets/card-cours-grid.html' with instance=cours %}{% endautoescape %}
        {% endfor %}
        <!-- /item -->
      </div>
      <!-- /carousel -->
      <div class="container">
        <p class="btn_home_align"><a href="{% url 'courses-grid' %}" class="btn_1 rounded">Voir tous les cours</a></p>
      </div>
      <!-- /container -->
      <hr>
    </div>
    <!-- /container -->

    <div class="container margin_30_95">
      <div class="main_title_2">
        <span><em></em></span>
        <h2>Meilleures catégories</h2>
      </div>
      <div class="row">
        {% for categorie in categories %}
        <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
          <a href="#0" class="grid_item">
            <figure class="block-reveal">
              <div class="block-horizzontal"></div>
              <img src="http://via.placeholder.com/800x533/ccc/fff/course_1.jpg" class="img-fluid" alt="">
              <div class="info">
                <small><i class="ti-layers"></i>15 Programmes</small>
                <h3>{{ categorie }}</h3>
              </div>
            </figure>
          </a>
        </div>
        {% endfor %}
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->

    <div class="call_section">
      <div class="container clearfix">
        <div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
          <div class="block-reveal">
            <div class="block-vertical"></div>
            <div class="box_1">
              <h3>A propos de Kairos</h3>
              <p>Kairos vise à encourager le partage des connaissances dans la société. Nous sommes tous experts et tous apprenants potentiels: vous avez la curiosité? Nous faisons le reste!. </p>
              <a href="#0" class="btn_1 rounded">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/call_section-->
  </main>
  <!-- /main -->
{% endblock %}


