{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

  <main>
    <section class="hero_single version_2">
      <div class="wrapper">
        <div class="container">
          <h3>Liste des cours</h3>
          {% for c in cours %}
              - <a href="{% url 'detail-cours' pk=c.pk %}">{{ c }}</a><br>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- /hero_single -->
  </main>


{% endblock %}
