  {% load static %}
  <header class="header menu_2">
    <div id="preloader" style="display: flex;align-items: center;justify-content: center;"">
      <div class="col-xs-12">
        <p style="color:black; width:100%;"><i>{{ encouragement.proverbe }}</i></p>
        <p>{{ encouragement.auteur }}</p>
      </div>
      <div data-loader="circle-side"></div>
    </div><!-- /Preload -->
    <div id="logo">
      <a href="{% url 'welcome' %}"><img src="{% static 'img/logo.png' %}" width="149" height="42" data-retina="true" alt=""></a>
    </div>
    <ul id="top_menu">
      <li><a href="{% url 'account_login' %}" class="btn_2 rounded">Se connecter</a></li>
      <li class="hidden_tablet"><a href="{% url 'account_signup' %}" class="btn_1 ">S'inscrire</a></li>
    </ul>
    <!-- /top_menu -->
    <a href="#menu" class="btn_mobile">
      <div class="hamburger hamburger--spin" id="hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </a>
    <nav id="menu" class="main-menu">
      <ul>
        <li><span><a href="#0"><i class="icon-th"></i>Categories</a></span>
          <ul>
            {% for categorie in categories %}
            <li class="dropdown-submenu men "><a href="{% url 'categorie-grid' pk=categorie.pk %}" class="dropdown-toggle" data-toggle="dropdown">{{ categorie.nom }}</a>
                {% if categorie.souscategorie_set.all|length > 0 %}
                <ul class="dropdown-menu">
                    {% for souscategorie in categorie.souscategorie_set.all %}
                    <li class=""><a href="{% url 'sous-categorie-grid' pk=souscategorie.pk %}">{{ souscategorie.nom }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <form role="search" method="get" class="form-inline my-2 my-lg-0 mr-lg-2" action="{% url 'search' %}">
              <div class="input-group" id="navbar-search">
                  <input type="text" class="form-control search-top" name="q" placeholder="Que veux-tu apprendre ?">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                      <i class="icon-search"></i>
                    </button>
                  </span>
              </div>
          </form>
        </li>
        <li><span><a href="{% url 'why-become-teacher' %}">Enseigner</a></span></li>
      </ul>
    </nav>

  </header>
  <!-- /header -->
