{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

  <main>
    <section id="hero_in" class="courses">
      <div class="wrapper">
        <div class="container">
          <h1 class="fadeInUp"><span></span>Nos cours</h1>
        </div>
      </div>
    </section>
    <!--/hero_in-->

    <div class="filters_listing sticky_horizontal">
      <div class="container">
        <ul class="clearfix">
          <li>
            <div class="switch-field">
              <input type="radio" id="all" name="listing_filter" value="all" checked>
              <label for="all">Tout</label>
              <input type="radio" id="popular" name="listing_filter" value="popular">
              <label for="popular">Populaire</label>
              <input type="radio" id="latest" name="listing_filter" value="latest">
              <label for="latest">Récent</label>
            </div>
          </li>
          <li>
            <div class="layout_view">
              <a href="{% url 'courses-grid' %}"><i class="icon-th"></i></a>
              <a href="#0" class="active"><i class="icon-th-list"></i></a>
            </div>
          </li>
          <li>
            <select name="orderby" class="selectbox" onchange="location = this.value;">
              <option value="category">Categories</option>
              <option value="all">Tout</option>
              {% for categorie in categories %}
              <option value="{% url 'categorie-list' pk=categorie.pk %}">{{ categorie.nom }}</option>
              {% endfor %}
              </select>
          </li>
        </ul>
      </div>
      <!-- /container -->
    </div>
    <!-- /filters -->

    <div class="container margin_60_35">
      <div class="row">
        <aside class="col-lg-3" id="sidebar">
          <div id="filters_col"> <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filtres </a>
            <div class="collapse show" id="collapseFilters">
              <div class="filter_type">
                <form method="POST" enctype="multipart/form-data" class="search-form">{% csrf_token %}
                    {% crispy form %}
                </form>
              </div>
            </div>
            <!--/collapse -->
          </div>
          <!--/filters col-->
        </aside>
        <!-- /aside -->

        <div class="col-lg-9" id="list_sidebar">
          <div class="row replace" style="display:flex;">
          {% for c in cours %}
            {% include 'cours/snippets/card-cours-list.html' with instance=c %}
          <!-- /box_list -->
          {% endfor %}
          </div>
          <!-- /box_list -->
          <p class="text-center add_top_60"><a href="#0" class="btn_1 rounded">Voir plus</a></p>
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
    <div class="bg_color_1">
      <div class="container margin_60_35">
        <div class="row">
          <div class="col-md-4">
            <a href="#0" class="boxed_list">
              <i class="pe-7s-help2"></i>
              <h4>Need Help? Contact us</h4>
              <p>Cum appareat maiestatis interpretaris et, et sit.</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#0" class="boxed_list">
              <i class="pe-7s-wallet"></i>
              <h4>Payments and Refunds</h4>
              <p>Qui ea nemore eruditi, magna prima possit eu mei.</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#0" class="boxed_list">
              <i class="pe-7s-note2"></i>
              <h4>Quality Standards</h4>
              <p>Hinc vituperata sed ut, pro laudem nonumes ex.</p>
            </a>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
  </main>
  <!--/main-->

{% endblock %}

{% block javascript %}
<script>
$(function () {
    {% if anchor %}
        console.log("ancre repérée")
        $(document).ready(function(){
            window.location = '#{{ anchor }}'
        });
        $(document.body).animate({

            'scrollTop':   $('#{{ anchor }}').offset().top
        }, 2000);
    {% endif %}
});

  function display_facultes(){
            var universite_id = $('#id_universite :selected').val();
            $('#div_id_faculte').show()
            request_url = '/apprenants/get_faculte/' + universite_id + '/';
            $.ajax({
                  url: request_url,
                  success: function(json){
                    var strResult;
                    $('#div_id_faculte').empty();
                    strResult = '<label for="id_faculte" class="control-label">'+
                      'Faculté </label><br>'+
                      '<select name="faculte" class="select form-control" required="" id="id_faculte">'+
                      '<option value="" selected="">---------</option>'

                      for(var j = 0; j < json.length; j++){
                            strResult += '<option value="' + parseInt(json[j][0]) + '">' + json[j][1] +'</option>'
                        }
                        strResult += '</select>'
                        $('#div_id_faculte').append(strResult)
                  }
            })
  }

  if ($('#id_universite').value){
    display_facultes();
  }
  $('#id_universite').change(function() {
    display_facultes();
  });


  var searchForm = $(".search-form")
  var httpMethod = searchForm.attr("method");
  var actionEndpoint = '/cours/ajax-get-cours/';

  function ajax_display_cours() {
      var formData = searchForm.serialize();
      console.log(formData)
      $.ajax({
        url: actionEndpoint,
        method: httpMethod,
        data: formData,
        success: function(data){
            $('.replace').html(data.cours_html)
        },
        error: function(errorData){
          $.alert({
            title: "Oops!",
            content: "Une erreur s'est produite.",
            theme: "modern",
          })
        }
      })
    }

  searchForm.change(function() {
      ajax_display_cours()
  });
</script>


{% endblock %}


