{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

  <main>
    <section id="hero_in" class="courses">
      <div class="wrapper">
        <div class="container">
          <h1 class="fadeInUp"><span></span>Nos cours</h1>
        </div>
      </div>
    </section>
    <!--/hero_in-->

    <div class="filters_listing sticky_horizontal">
      <div class="container">
        <ul class="clearfix">
          <li>
            <div class="switch-field">
              <input type="radio" id="all" name="listing_filter" value="all" checked>
              <label for="all">Tout</label>
              <input type="radio" id="popular" name="listing_filter" value="popular">
              <label for="popular">Populaire</label>
              <input type="radio" id="latest" name="listing_filter" value="latest">
              <label for="latest">Récent</label>
            </div>
          </li>
          <li>
            <div class="layout_view">
              <a href="{% url 'courses-grid' %}"><i class="icon-th"></i></a>
              <a href="#0" class="active"><i class="icon-th-list"></i></a>
            </div>
          </li>
          <li>
            <select name="orderby" class="selectbox">
              <option value="category">Categories</option>
              <option value="all">Tout</option>
              {% for categorie in categories %}
              <option value="category_{{ categorie.id }}">{{ categorie.nom }}</option>
              {% endfor %}
              </select>
          </li>
        </ul>
      </div>
      <!-- /container -->
    </div>
    <!-- /filters -->

    <div class="container margin_60_35">
      <div class="row">
        <aside class="col-lg-3" id="sidebar">
          <div id="filters_col"> <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filtres </a>
            <div class="collapse show" id="collapseFilters">
              <div class="filter_type">
                <h6>Categories</h6>
                <ul>
                  <li>
                    <label>
                      <input type="checkbox" class="icheck" checked>Tout <small>(945)</small>
                    </label>
                  </li>
                  {% for categorie in categories %}
                  <li>
                    <label>
                      <input type="checkbox" class="icheck" checked>{{ categorie.nom }} <small>(945)</small>
                    </label>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="filter_type">
                <h6>Rating</h6>
                <ul>
                  <li>
                    <label>
                      <input type="checkbox" class="icheck">
                      <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i> <small>(145)</small></span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="icheck">
                      <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> <small>(25)</small></span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="icheck">
                      <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(68)</small></span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="icheck">
                      <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(34)</small></span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" class="icheck">
                      <span class="rating"><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(10)</small></span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <!--/collapse -->
          </div>
          <!--/filters col-->
        </aside>
        <!-- /aside -->

        <div class="col-lg-9" id="list_sidebar">
          {% for c in cours %}
            {% include 'cours/snippets/card-cours-list.html' with instance=c %}
          <!-- /box_list -->
          {% endfor %}
          <!-- /box_list -->
          <p class="text-center add_top_60"><a href="#0" class="btn_1 rounded">Voir plus</a></p>
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
    <div class="bg_color_1">
      <div class="container margin_60_35">
        <div class="row">
          <div class="col-md-4">
            <a href="#0" class="boxed_list">
              <i class="pe-7s-help2"></i>
              <h4>Need Help? Contact us</h4>
              <p>Cum appareat maiestatis interpretaris et, et sit.</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#0" class="boxed_list">
              <i class="pe-7s-wallet"></i>
              <h4>Payments and Refunds</h4>
              <p>Qui ea nemore eruditi, magna prima possit eu mei.</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#0" class="boxed_list">
              <i class="pe-7s-note2"></i>
              <h4>Quality Standards</h4>
              <p>Hinc vituperata sed ut, pro laudem nonumes ex.</p>
            </a>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
  </main>
  <!--/main-->

{% endblock %}
