<div class="box_list wow">
  <div class="row no-gutters">
    <div class="col-lg-5">
      <figure class="block-reveal">
        <div class="block-horizzontal"></div>
        <a href="course-detail.html"><img src="{{c.image.url}}" alt="" style="width:350px;object-fit:cover;"></a>
        <div class="preview"><span>En savoir plus</span></div>
      </figure>
    </div>
    <div class="col-lg-7">
      <div class="wrapper">
        <a href="#0" class="wish_bt"></a>
        <div class="price">$39</div>
        <small>{% for cat in c.categoriecours_set.all %}{{ cat.categorie.nom }}{% endfor %}</small>
        <h3>{{ c.titre}}</h3>
        <p>{{ c.courte_description }} </p>
        <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>
      </div>
      <ul>
        <li><i class="icon_clock_alt"></i> 1h 30min</li>
        <li><i class="icon_like"></i> 890</li>
        <li><a href="{% url 'detail-cours' pk=c.pk %}">Participer</a></li>
      </ul>
    </div>
  </div>
</div>
